rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function isAuth() {
      return request.auth != null;
    }

    function isAdmin() {
      return isAuth() &&
        firestore.get(/databases/(default)/documents/usuarios/$(request.auth.uid)).data.perfil == 'admin';
    }

    function myUnidade() {
      return firestore.get(/databases/(default)/documents/usuarios/$(request.auth.uid)).data.unidadeId;
    }

    // PDFs: pdfs/{ano}/{mes}/{unidadeId}.pdf
    match /pdfs/{ano}/{mes}/{unidadeId} {
      // Admin pode ler e escrever qualquer PDF
      allow read:  if isAdmin() || myUnidade() == unidadeId.replace('.pdf', '');
      allow write: if isAdmin();
    }
  }
}
